{% set hasMetaAttributes = metaAttributes is defined and metaAttributes is not empty %}

{% embed '@Gui/Partials/widget.twig' with { widget_title: 'Attributes' } %}
    {% block widget_content %}

        {% for localeName,attributes in productAttributes %}
            {% embed '@Gui/Partials/localized-ibox.twig' with {'collapsed': (not loop.first)} %}
                {% block title %}
                    {% if localeName == 'default' %}
                        {{ 'Default' | trans }}
                    {% else %}
                        {{ parent() }}
                    {% endif %}
                {% endblock %}

                {% block content %}

                    {% if hasMetaAttributes %}
                        {% include '@ProductExperienceManagement/ProductManagement/_partials/info-attribute-rows.twig' ignore missing with {
                            attributes: attributes,
                            metaAttributes: metaAttributes,
                        } %}
                    {% else %}
                        {% for name,value in attributes %}
                            <div class="row">
                                <div class="col-4"><b>{{ name }}</b></div>
                                <div class="col-8">{{ value | join(', ') }}</div>
                            </div>
                            {% if not loop.last %}
                                <div class="hr-line-dashed"></div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                {% endblock %}
            {% endembed %}
        {% endfor %}

    {% endblock %}
{% endembed %}
