{# @var locale \Generated\Shared\Transfer\LocaleTransfer #}

{% for locale in localeCollection %}
    {% set formKey = 'general_' ~ locale.localeName %}

    {% if form[formKey] is defined %}
        {% embed '@Gui/Partials/localized-ibox.twig' with {'collapsed': (not loop.first), 'localeName': locale.localeName} %}
            {% block content %}
                {% for input in form[formKey] %}
                    <div class="form-group {% if input.vars.errors|length %}has-error{% endif %}">
                        {% include '@SprykerFeature:AiCommerce/SmartProductManagement/_partials/ai-request-builder-button.twig' ignore missing with {
                            data: {
                                field: input,
                                locale: locale,
                            },
                        } %}
                        {{ form_label(input) }}
                        {{ form_widget(input, {'attr': {'class': 'name-translation js-infomational-field'}}) }}
                        {{ form_errors(input) }}
                    </div>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endfor %}
